.theme-container.custom-page-class {
  /* CSS for a specific page */
  .theme-default-content{
    max-width: 100%;
  }
}

.custom-block.tip {
    background-color: #f3f5f7;
    border-color: #5469d4;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}