.theme-container.custom-page-class {
  /* CSS for a specific page */
  .theme-default-content{
    max-width: 100%;
  }
}

.custom-block.tip {
    background-color: #f3f5f7;
    border-color: #5469d4;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.theme-container.element-tab-class {
  .el-tabs--border-card > .el-tabs__header .el-tabs__item {
	  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	  border: 1px solid transparent;
	  margin-top: -1px;
	  color: #5469d4;
  }
}